/*-- Global Styles --*/
:root {
  font-size: 18px;
}
* {
  box-sizing: border-box;
}
body, section, div, article, aside, h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
}
body{
  padding: 10px;
}

/*-- Document Styles --*/
footer {
  background-color: #333;
  color: #ddd;
  padding: 1em;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #DDD;
  padding: 1em;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  nav {flex-direction: row;}
}
nav a {
  color: #DDD;
  text-decoration: none;
}
.trigram {
  font-size: 1.75em;
  display: none;
}
@media screen and (max-width: 767px) {
  .topnav a {display: none;}
  .topnav a.trigram {display: inherit; align-self: flex-end;}
}
@media screen and (max-width: 767px) {
  .topnav.responsive {align-items: center;}
  .topnav.responsive a {display:inherit;}
  .topnav.responsive a.trigram {visibility: hidden; position: absolute; right: 3%; top: 2%;}
  .topnav.responsive a.trigram::after {content:'\000D7'; visibility:visible; text-indent: -.5em;}
}
.thumb {
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%;
}
.grid-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 550px) {
  .grid-container {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 768px) {
  .grid-container {grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 990px) {
  .grid-container {grid-template-columns: repeat(4, 1fr);}
}
.card {
  border: 1px solid #333;
}
.card-content {
  padding: 1em;
}
.one .thumb {
  background-image: url('../img/coffee.jpg');
}
.two .thumb {
  background-image: url('../img/coffee.jpg');
}

.slideshow {
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
}
.slideshow img{
  width: 100%;
}
.slideshow-wrap{
  position: relative;
  max-width: 1440px;
  margin: auto;
}
.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  color: #ddd;
}
.next{
  right: 0;
}
.prev:hover, .next:hover{
  background: rgba(0, 0, 0, 0.5);
}
.dot-wrap{
  text-align: center;
}
.dot{
  width: 20%;
  height: 15%;
  border-radius: 50%;
  background: #bbb;
  display: inline-block;
}
.dot img{
  width: 100%;
}
.dot.active{
  background: #333;
}
.one .thumb{
  background-image: url('../img/1.jpg');
}
.two .thumb{
  background-image: url('../img/2.jpg');
}
.three .thumb{
  background-image: url('../img/3.jpg');
}
.four .thumb{
  background-image: url('../img/4.jpg');
}
.five .thumb{
  background-image: url('../img/5.jpg');
}
.six .thumb{
  background-image: url('../img/14.jpg');
}
.seven .thumb{
  background-image: url('../img/7.jpg');
}
.eight .thumb{
  background-image: url('../img/8.jpg');
}
.nine .thumb{
  background-image: url('../img/9.png');
}
.ten .thumb{
  background-image: url('../img/10.jpg');
}
.eleven .thumb{
  background-image: url('../img/11.jpg');
}
.twelve .thumb{
  background-image: url('../img/12.jpg');
}

.modal{
  display: none;
  position: fixed;
  z-index: 1100;
  left: 0;
  top: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(10, 10, 10, .4);
}
.modal-content{
  background-color: #eee;
  color: #333;
  margin: 1rem auto;
  padding: 1em;
  width: 92%;
  border-radius: 4px;
  animation: fadein .3s ease-in-out;
}
@keyframes fadein{
  from{transform: scale(.1);}
}
.close{
  color: #333;
  font-size: 2.5em;
  font-weight: bold;
  position: absolute;
  top: 5px;
   right: 4.25%;
  transition: all .2s ease-in;
  text-shadow: 2px 2px 5px #FAFAFA,
              -2px -2px 5px #FAFAFA,
              2px -2px 5px #FAFAFA,
              -2px 2px 5px #FAFAFA;
}
.close:hover,
.close:focus{
  color: #654321;
  text-decoration: none;
  cursor: pointer;
}
.modal-body {
  display: grid;
  grid-template-columns: 1fr; 
  grid-gap: 2em;
}
.eg-text {
  align-self: center;
}
.eg-text h3 {
  margin-top: 0;
  padding-top: 0;
}
.modal-body img {
  margin-bottom: 1.5em;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1280px) { 
  .modal-body {grid-template-columns: 7fr 5fr;}

}

p{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}